{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
                        <div class="row g-4">
<br><h4 class="text-success d-flex justify-content-center">{{msg}}</h4>

<!--                            loop start-->{%for m in movies%}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{%url 'moviedetails' m.id%}"><img src="{{m.pict.url}}" width="300rem" height="300rem"></a>
                                        <div class="bg-white rounded-top text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            {{m.category.name}}</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <p class="text-success mb-3">{{m.released}}</p>
                                        <h5><a class="text-success d-block h5 mb-2" href="{%url 'moviedetails' m.id%}">{{m.name}}</a></h5>
                                        <p class="text-success mb-3">{{m.actors}}</p>
                                    </div>
                                </div>
                            </div>
<!--                            loop end-->{%endfor%}
                        </div>
                    </div>

        <!-- Property List End -->

{% endblock %}