 {% load static %}
      <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Get In Touch</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Inmakes Street, Kochi, Kerala, India</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 89456 67493</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@moviegalore.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Quick Links</h5>
                        <a class="btn btn-link text-white-50" href="{%url 'home'%}">Home</a>
                        <a class="btn btn-link text-white-50" href="{%url 'allmovies' 1%}">All Movies</a>
                        <a class="btn btn-link text-white-50" href="{%url 'allgenres'%}">All Genres</a>
                        <a class="btn btn-link text-white-50" href="{%url 'allgenres'%}">Movies by Genre</a>
                        <a class="btn btn-link text-white-50" href="{%url 'register'%}">Register</a>
                        <a class="btn btn-link text-white-50" href="{%url 'login'%}">Login</a>
                        <a class="btn btn-link text-white-50" href="{%url 'logout'%}">Logout</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Photo Gallery</h5>
                        <div class="row g-2 pt-2">
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src={%static "img/ca1.jpg"%} alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src={%static "img/ca2.jpg"%} alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src={%static "img/ca3.jpg"%} alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src={%static "img/ca4.jpg"%} alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src={%static "img/ca5.jpg"%} alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src={%static "img/ca6.jpg"%} alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom"">Movie Galore</a>, All Right Reserved.
							
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


