{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container"><div class="row"><div class="col">{%if regsuccess%}<img src={%static "img/tick.png"%} width="100px" height="100px">
    {%endif%}
<form action="{% url 'login' %}" method="post" class="custom-form contact-form shadow-lg" enctype="multipart/form-data">{% csrf_token %}
    <h2 class="text-success mb-4 pb-2">{{msg}}</h2>
    <h2 class="text-success mb-4 pb-2">Login</h2>

    <div class="row">
<div class="col"><div class="form-floating"><input type="text" name="uname" id="Username" class="form-control" placeholder="Username"><label >Username</label></div></div>
<div class="col"><div class="form-floating"><input type="password" name="pwd" id="Password" class="form-control" placeholder="Password"><label >Password</label></div></div>
</div><div class="row"><button type="submit" class="btn btn-success">Login</button></div>
</form>


</div><div class="col"><div class="contact-info mt-5"><img src="{% static 'images/WorldMap.svg' %}" class="img-fluid" ></div></div></div></div>

{% endblock %}