{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container"><div class="row"><div class="col-lg-5 col-12 ">
<table class="table table-success">
  <thead><tr><b style="color:red;">{{msg}}</b></tr>
    <tr>{% if categories %}
      <th scope="col">Genre Name</th>
      <th scope="col">Description</th>
      <th scope="col">Poster</th>         <th scope="col">Delete</th>
      <th scope="col">Modify</th>

      {% else %}<th scope="col">No Genres to show.</th>{%endif%}

    </tr>
  </thead>
  <tbody>
  {% for c in categories %}
  {%if c.name %}
    <tr>
      <td>{{c.name}}</td>
      <td>{{c.desc}}</td>
      <td><img src="{{c.pict.url}}" width="100" height="100"></td>
      <td><a href="{% url 'delcat' c.id %}"><img src="{%static 'img/deleteicon.png'%}" width="25px" height="25px"></a></td>
      <td><a href="{% url 'modcat' c.id %}"><img src="{%static 'img/modifyicon.png'%}" width="25px" height="25px"></a></td>
    </tr>  {%endif%}{%endfor%}
  </tbody>
</table>
</div></div></div>
{% endblock %}