{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="section-padding" style="padding-left:3rem"><div class="container"><div class="row"><div class="col-lg-5 col-12 ">
<table class="table table-success">
  <thead><tr><b style="color:red;">{{msg}}</b></tr>
    <tr>{% if u %}
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
            <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
            <th scope="col">Modify</th>
      <th scope="col">Change Password</th>

      {% else %}<th scope="col">No user details to show.</th>{%endif%}

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{u.username}}</td>
      <td>{{u.email}}</td>
      <td>{{u.first_name}}</td>
      <td>{{u.last_name}}</td>

      <td><a href="{% url 'modprofile'%}"><img src="{%static 'img/modifyicon.png'%}" width="25px" height="25px"></a></td>
      <td><a href="{% url 'chgpwd'%}"><img src="{%static 'img/pwdicon.png'%}" width="25px" height="25px"></a></td>
    </tr>
  </tbody>
</table>



</div></div></div></section>
{% endblock %}